<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Notes List</div>
                <div class="panel-body">
                    <a ng-href="#/project/1/notes/new" class="btn btn-primary">New Note</a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Note</th>
                                <th>Project</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="note in notes">
                                <td>{{note.title}}</td>
                                <td>{{note.note}}</td>
                                <td>{{note.project.data.name}}</td>
                                <td>
                                    <a ng-href="#/project/1/notes/{{note.id}}/edit">Editar</a>
                                    |
                                    <a ng-href="#/project/1/notes/{{note.id}}/remove">Remover</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>